/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(#06365f,white);
  background-color:#1c5380;
}
.right {
  width: 38%;
  background-color: transparent;
  display: flex;
  margin-right: 0vw;
  font-size: 3vw;
  text-align: right;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  justify-content: space-evenly;

  
}
.footer-list{
display: flex;
margin-left: 0%;
flex-direction: row;
list-style: none;
justify-content: space-around;
justify-items: flex-start;
align-content:flex-start;
background-color: transparent;
color: #1c5380;
font-weight: bold;
}
.footer-list :last-child{
  color: grey;
}
.left {
  width: 30%;
  background-color: transparent;
  display: flex;
  margin-right: 0vw;
  margin-left: 5vw;
  font-size: 3vw;
  text-align: right;
  padding: 5vw 0vw 5vw 0vw;
  min-width:40vw;
  float:left;
}
  .left image{
    display: flex;
    justify-content: space-around;
  }

.center p1{
  background-color: transparent;
  color: #1c5380;
  font: size 100%;
  height: 10px;
  font-weight: bold;
  float: center;
  border-radius: 0%;
}
.p1{
  font-size: x-large;
  font-weight: bold;
  color:#06365f ;
}

button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  font-weight: bold;
  color:#1c5380;
}
footer{
  margin-left: 0vh;
  background-color: transparent;
}
